*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Layout */

html{
  scroll-behavior: smooth;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}
section{
  padding: 40px 0;
}

.container{
  display: flex;
  width: 90%;
  margin: 0 auto;
}

@media all and (min-width: 992px){

  .container{
    width: 70%;
  }
  
}

.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.col-50{
  width: 100%;
  flex-direction: column;
  display: flex;
}

.col-30{
  flex-grow: 1;
  width: 100%;
}

.card{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

/* HEADER */

header{
  z-index: 2;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #0184fd;
}

nav{
  height: 60px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img{
  cursor: pointer;
  width: 80%;
}

.device-sm-medium{
  font-size: 20px;
  display: block;
}

.device-desktop{
  display: none;
}

header a{
  padding: 5px;
  color: white;
  text-decoration: none;
}

@media all and (min-width: 992px){
  .device-sm-medium{
    display: none;
  }
  
  .device-desktop{
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }


}
/*<---->*/

/* MAIN */
  main{
    padding-top: 60px;
  }

  /* info pros section*/
  .lightblue-card{
    background-color: rgb(181,221,255);
  }

  .lightblue-card h3{
    color: rgb(1,132,253);
  }

  .lightblue-card img{
    width: 100%;
    max-width: 155px;
  }

  #sub-col{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  } 

  /* Info pros media */
    @media all and (min-width: 768px){
      #info-pros .col-30{
        width: 30%;
      }

      #big-col-60{
        flex-grow: 2;
        width: 62%;
      }

      #big-card{
        flex-direction: row;
      }

      #info-pros #sub-col{
        row-gap: 50px;  
        padding-bottom: 125px;
      }

      .lightblue-card .width-100{
        display: flex;
        align-items: flex-end;
      }

      .lightblue-card img{
        max-width: none;
      }
    }

    @media all and (min-width: 1240px){
      #info-pros #sub-col{  
        padding-bottom: 100px;
      }
    }
    
    /* Planning section */
    #planning-section .row{
      column-gap: 10px;
    }

    #planning-section .col-50{
      row-gap: 50px;
    }

    #planning-section img{
      width: 100%;
    }


    #planning-section .card.bg-white img{
      max-width: 500px;
    }

    /* Planning section media */
      @media all and (min-width: 768px){
        #planning-section .col-40{
          row-gap: 80px;
        }

        #planning-section h1{
          font-size: 50px;
        }
      }

      @media all and (min-width: 992px){
        #planning-section .row{
          gap: 0;
          justify-content: space-between;
        }
        
        #planning-section .row:nth-child(1){
          align-items: flex-end;
        }

        #planning-section .col-50{
          width: 45%;
        }

      }

    /* Testimonials section */
      #testimonials-section .container{
        justify-content: center;
        flex-direction: column;
        row-gap: 40px;
      }
      
      #testimonials-section .card{
        align-items: center;
        column-gap: 20px;
      }

      .selfie-container{
        width: 170px;
        height: 170px;
      }
      
      #testimonials-section img{
        width: inherit;
        height: inherit;
        object-fit: cover;
      }

      #testimonials-section .text-container{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
      }

      /* Testimonials section media */
        @media all and (min-width: 768px){
          #testimonials-section .card{
            flex-direction: row;
          }

          #testimonials-section .text-container{
            height: 170px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            row-gap: 0px;
          }
        }
      
        /* Features section */
        #features-section .container{
          flex-direction: column;
          row-gap: 40px;
        }

        #features-section .card{
          row-gap: 10px;
        }

        #features-section .long-btn{
          width: auto;
        }

        /* Features section media */
        @media all and (min-width: 576px) {         
          #features-section .row{
            flex-direction: row;
            justify-content: space-between;
          }
  
          #features-section .col{
            width: 45%;
          }
        }

        @media all and (min-width: 992px) {     
          #features-section .row{
            flex-direction: row;
            justify-content: space-between;
          }
  
          #features-section .col{
            width: 30%;
          }
          
        }

      /* About us section */   
      #about-us-section .col{
        row-gap: 20px;
      }

      #about-us-section .selfie-container{
        position: relative;
      }

      #about-us-section img{
        width: inherit;
        height: inherit;
        object-fit: cover;
      }

      .quote-mark{
        position: absolute;
        right: -10px;
        top: -2px;
      }

      /* About us section media*/
      @media all and (min-width: 576px){
        #about-us-section .row{
          justify-content: space-between;
        }
        #about-us-section .col{
         width: 45%;
        }
      }


/*<---->*/

/* FOOTER*/
/*<---->*/


/* Utils */

  /* P tag */
    p{
      line-height: 25px;
    }
  
  /* Width */
    .width-100{
      width: 100%;
    }

  /* Text */

    /* font-size */
      .fs-sm{
        font-size: 14px;
      }

      .fs-medium{
        font-size: 25px;
      }

      .fs-lg{
        font-size: 35px;
      }

      .fs-xl{
        font-size: 60px;
      }

      .fs-xxl{
        font-size: 80px;
      }

    /* font-style */
      .corsive{
        font-style: italic;
      }

    /* color */
      .text-gray{
        color: rgb(131, 131, 131);
      }

      .text-blue{
        color: rgb(1,132,253);
      }

      .text-white{
        color: white;
      }

      .text-purple{
        color: rgb(151,146,227);
      }

      .text-lightblack{
        color: rgb(53, 53, 53);
      }

    /* text-align */
      .text-center{
        text-align: center;
      }

      .text-left{
        text-align: left;
      }
      
    /* line-height*/
      .line-height-35{
        line-height: 35px;
      }
  /* Button */
    button{
      cursor: pointer;
      border: none;
      border-radius: 20px;
      padding: 10px 12px;
      transition: all 0.5s;
    }

    button:hover{
      opacity: 0.8;
      box-shadow: 0px 0px 4px rgba(0,0,0,0.70);
    }

    .long-btn{
      min-width: 120px;
      max-width: 250px;
      width: 90%;
      letter-spacing: 3px;
    }
    @media all and (min-width: 768px){
      .long-btn{
        max-width: 180px;
      }
    }

    .blue-btn{
      color: white;
      background-color: rgb(1,132,253);
    }

    .purple-btn{
      background-color: rgb(151,146,227);
    }

  /* Display */
    .block{
      display: block;
    }

  /* Cursor */
    .cursor-pointer{
      cursor: pointer;
    }

  /* Border */
    .border-smooth{
      border-radius: 15px;
    }

    .border-heavy{
      border-radius: 30px;
    }

    .border-round{
      border-radius: 80%;
    }
    
  /* Padding */
  .pb-0{
    padding-bottom: 0px;
  }

  /* Margin */
  .mb-20{
    margin-bottom: 20px;
  }

  /* Background-color */
  .bg-white{
    background-color: white;
  }

  .bg-purple{
    background-color: rgb(151,146,227);
  }

